# Twilio Configuration Example

# Your Account SID
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID

# Your Auth Token
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN

# Your Phone Number
TWILIO_PHONE_NUMBER=YOUR_TWILIO_PHONE_NUMBER
